body
{
    margin: 0;
}

canvas
{
    width: 100%;
    height: 100%;
    display: block;
}

#scoreOverlay
{
    position: absolute;
    top: 0;
    left: 0;
    font-family: Ubuntu;
}

#dPadContainer
{
    width: 170px;
    height: 115px;
    background-color: #e0e0e0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#shootContainter
{
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #e0e0e0;
    bottom: 0;
    left: 0;
}

.dPadItem
{
    width: 50px;
    height: 50px;
    position: absolute;
}

.cameraRotPad
{
    background-color: #0000FF;
}

.ceuRotPad
{
    background-color: #FF0000;
}

.cameraHeightPad
{
    background-color: #00FF00;
}

.glyphicon{
    font-size: 50px;
    color: #000000;
}

#dPad1
{
    top: 5px;
    left: 5px;
}

#dPad2
{
    top: 5px;
    left: 115px;
}

#dPad3
{
    top: 60px;
    left: 5px;
}

#dPad4
{
    top: 60px;
    left: 115px;
}

#dPad5
{
    top: 5px;
    left: 60px;
}

#dPad6
{
    top: 60px;
    left: 60px;
}

#shootButton
{
    top: 5px;
    left: 5px;
    background-color: #FF0000;
}